{% extends 'myapp/base.html' %}
{% block title %}Bookings - Hotel Paul{% endblock %}

{% block content %}
    <div>
        <!-- Booking form -->
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Submit">
        </form>
    </div>

    <!-- Table to display all bookings -->
    <div><h3>Your Bookings</h3></div> <br>
    <table id="bookingTable">
        <thead>
            <tr>
                <th>Booking Type</th>
                <th>Check-in Date</th>
                <th>Check-out Date</th>
                <th>Guests</th>
                <th>Amount Paid (€)</th>
                <th>Actions</th> 
            </tr>
        </thead>
        <tbody>
            {% for booking in bookings %}
                <tr>
                    <td>{{ booking.get_booking_type_display }}</td>
                    <td>{{ booking.checkin_date|date:"d/m/Y" }}</td>
                    <td>{{ booking.checkout_date|date:"d/m/Y" }}</td>
                    <td>{{ booking.guests }}</td>
                    <td>{{ booking.pay_now }}</td>
                    <td>
                        <a href="{% url 'myapp:update_booking' booking.id %}">Edit</a> 
                        <a href="{% url 'myapp:delete_booking' booking.id %}">Delete</a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="5">No bookings yet.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
