{% extends 'myapp/base.html' %}

{% block title %}Hotel Paul - Login{% endblock %}

{% block content %}
    <div class="login-container">
        <!-- Tell the user they must log in or register to book a room  -->
        <p class="paragraph" style="text-align: center;">If attempting to book a room, please log in or register</p>

        <h3 style="text-align: center;">Login</h3>
        <p class="paragraph" style="text-align: center;">Log in to see previous bookings</p>

        <!-- Django login form -->
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}  <!-- Render form fields -->
            <button type="submit">Login</button>
        </form>

        {% if form.errors %}
            <div class="form-errors" style="color: red; text-align: center;">
                <ul>
                    {% for field in form %}
                        {% for error in field.errors %}
                            <li>{{ field.label }}: {{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
{% endblock %}
